automated-post/workflows/gsheet-to-social.json
{
  "name": "Google Sheet to Instagram",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Read Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [460, 300],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GSHEET_ID || 'YOUR_SPREADSHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Sheet1"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Add Row Numbers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst startRow = 2;\nreturn items.map((item, index) => ({\n  json: { ...item.json, __rowNumber: startRow + index }\n}));"
      }
    },
    {
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Filter PENDING",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "pending-only",
              "leftValue": "={{ $json['Status'] }}",
              "rightValue": "PENDING",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1120, 300],
      "parameters": {
        "batchSize": 1
      }
    },
    {
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "Has Image URL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-image",
              "leftValue": "={{ $json['Image URL'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "IG Create Container (Image)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 200],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.IG_USER_ID }}/media",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $json['Image URL'] }}"
            },
            {
              "name": "caption",
              "value": "={{ $json['Post Content'] }}"
            },
            {
              "name": "access_token",
              "value": "={{ $env.IG_ACCESS_TOKEN }}"
            }
          ]
        }
      },
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "id": "a1b2c3d4-0008-4000-8000-000000000008",
      "name": "Set Status SKIPPED",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1560, 400],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "status-skipped",
              "name": "Status",
              "value": "SKIPPED",
              "type": "string"
            },
            {
              "id": "topic-keywords-skip",
              "name": "Topic/Keywords",
              "value": "={{ $json['Topic/Keywords'] }}",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0009-4000-8000-000000000009",
      "name": "Wait for Container",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1780, 200],
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      }
    },
    {
      "id": "a1b2c3d4-0010-4000-8000-000000000010",
      "name": "IG Publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 200],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.IG_USER_ID }}/media_publish",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "access_token",
              "value": "={{ $env.IG_ACCESS_TOKEN }}"
            }
          ]
        }
      },
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "id": "a1b2c3d4-0010b-4000-8000-000000000010",
      "name": "IG Publish OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2110, 200],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-container-id",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0011-4000-8000-000000000011",
      "name": "Set Status POSTED",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2220, 200],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "status-posted",
              "name": "Status",
              "value": "POSTED",
              "type": "string"
            },
            {
              "id": "topic-keywords",
              "name": "Topic/Keywords",
              "value": "={{ $('Split In Batches').item.json['Topic/Keywords'] }}",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0012-4000-8000-000000000012",
      "name": "Update Sheet Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2440, 200],
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GSHEET_ID || 'YOUR_SPREADSHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "={{ $json['Status'] }}"
          }
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "a1b2c3d4-0013-4000-8000-000000000013",
      "name": "On Error Set FAILED",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2000, 400],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "status-failed",
              "name": "Status",
              "value": "FAILED",
              "type": "string"
            },
            {
              "id": "topic-keywords-fail",
              "name": "Topic/Keywords",
              "value": "={{ $('Split In Batches').item.json['Topic/Keywords'] }}",
              "type": "string"
            }
          ]
        }
      },
      "onError": "continueRegularOutput",
      "continueOnFail": true
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Sheet": {
      "main": [
        [
          {
            "node": "Add Row Numbers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Row Numbers": {
      "main": [
        [
          {
            "node": "Filter PENDING",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter PENDING": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Has Image URL?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Image URL?": {
      "main": [
        [
          {
            "node": "IG Create Container (Image)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Status SKIPPED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Create Container (Image)": {
      "main": [
        [
          {
            "node": "Wait for Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Container": {
      "main": [
        [
          {
            "node": "IG Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Publish": {
      "main": [
        [
          {
            "node": "IG Publish OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Publish OK?": {
      "main": [
        [
          {
            "node": "Set Status POSTED",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "On Error Set FAILED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Status POSTED": {
      "main": [
        [
          {
            "node": "Update Sheet Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Error Set FAILED": {
      "main": [
        [
          {
            "node": "Update Sheet Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Status SKIPPED": {
      "main": [
        [
          {
            "node": "Update Sheet Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet Status": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": {
    "templateCredsRequired": true
  }
}
